.big{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 100px;
    height: 100px;
    background-color: red;
}
.kola{
    width: 100px;
    height: 100px;
    background-color:green ;
}
.point{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.hola{
    width: 100px;
    height: 100px;
    background-color: blue;
}